  /* My aditional stypes */
  .sticky-save-container {
    position: fixed;
    top: 71px;
    z-index: 999;
    width: calc(100% - 240px);
    padding: 10px 20px;
    background-color: #ffffff;
    left: 240px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.vertical-collpsed .sticky-save-container  {
    width: calc(100% - 70px);
    left: 70px;
}


/* Visites calender styles */
#calendar .btn.btn-primary {
    background-color: #90a4ae;
    border-color: #90a4ae;
}

#calendar .btn.btn-primary:hover, #calendar .btn.btn-primary.active, #calendar .btn.btn-primary.active:hover {
    color: #fff;
    background-color: #8799a2;
    border-color: #8799a2;
}



#calendar .btn-check:focus+.btn-primary, .btn-primary:focus , .btn-check:focus+.btn, .btn:focus {
    box-shadow: none !important;
}



/* .fileters-wrapper .bookingFilters {
    padding-bottom: 1.5rem;
} */